DB_URL=
DB_USER=
DB_PASSWORD=
DB_NAME=

DEV_DB_URL=
DEV_DB_USER=
DEV_DB_PASSWORD=
DEV_DB_NAME=

REACT_APP_API_URL=
FRONTEND_URL=

# SMTP config for password reset emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= # The email address the email gets sent from
SMTP_PASS= # The email app password for the above email address (not the same as the email account password, the app-password can be generated through the google account)
SMTP_FROM= # The "from" field in the email, e.g. "Allies Connect <alliesconnect@gmail.com>"
